@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Neucha&family=Oi&family=Rampart+One&family=Seymour+One&display=swap');

*{
overflow-x: hidden;
}

a {
background-size: 100% 100%;
text-decoration: none;
color: black;
}

body {
    font-family: Moderustic;  
    text-align: center;
    background: linear-gradient(-45deg,
       #d8bfd8, /* Первый цвет */
       #fffafa, /* Второй цвет */
       #23a6d5, /* Третий цвет */
       #6e0d20 /* Четвертый цвет */
    );
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {

0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}

100% {
    background-position: 0% 50%;
}
}                                        



img {
    max-width: 100%; /* Изображения не выходят за пределы экрана */
 /* Сохраняют пропорции */
}

.bar{
    object-fit: cover;
    width:100%;
}  

/*Текст на первой странице */


.blockTwo {
    width: 1400px;
    margin: 0 auto;
    padding-top: 3%;
    text-align: center;
} 

.blockTwo p {
    text-align: center;
    font-size:38px;
    font-family: Caveat;
    padding: 0 5vh 0 5vh;
}

.zafa {
    text-align: center;
}

.centerMobileOnly{
    margin-left: auto; 
    margin-right: auto;
}
@media (max-device-width: 800px) {
    .centerMobileOnly {
    margin-left: auto; 
    margin-right: auto;
    }
}


/*листочки падать Настя радоватся */

body {
    margin: 0;
    position: relative;
    height: 100vh;
}

#snowflakes-container{
    /*position: fixed;*/
    top: 0;
    left:50%;
    width:0;
    height: 0;
    right: 50%;
    pointer-events: none;

}



.snowflake {
    position: absolute;
    color: #fff;
    font-size: 20px;
    user-select: none;
    animation: fall linear infinite;
    
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
} 

@keyframes fall {
    0% {
        transform: translateY(-10%) translateX(0);
    }
    50% {
        transform: translateY(50vh) translateX(50px);
    }
    100% {
        transform: translateY(100vh) translateX(0);
    }
}


